<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/mint-choc/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if logged_in? %>
		<div style='float: right;'>
			You are logged in as <%= link_to current_user.account.first_name, edit_account_path(current_user.account) %> |
			<%= link_to 'Logout', logout_path, method: :delete %>
		</div>

    <div style='float: right;'>
			<%= link_to 'Homepage', todo_lists_path %> |
		</div>
	<% end %>

    <%flash.each do |key, value| %>
      <%= content_tag :p, value, id: key%>
    <%end%>

    <%= yield %>
  </body>
</html>