<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Task title:</strong>
  <%= @todo_item.task_title %>
</p>

<p>
  <strong>Due on:</strong>
  <%= @todo_item.due_date %>
</p>

<p>
  <strong>Status:</strong>
  <%- if @todo_item.done %>
     Done
  <%- else %>
    Not Done 
  <%- end%>
</p>

<p>
  <%= @todo_item.description %>
</p>


<br>


<%= link_to 'Edit Todo Item ', edit_todo_list_todo_item_path(@todo_list, @todo_item) %> |
<%= link_to 'Delete Todo Item', [@todo_list, @todo_item], method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', todo_list_path(@todo_list) %>

